@import '@MasterStyle';

:root {
    --btn-color: var(--color-white);
    --btn-background: var(--color-primary-500);
    --btn-border: var(--color-white);
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transition: 0.5s ease-in-out opacity;

    &--opacity {
        opacity: 0;
    }

    &--remove {
        display: none;
    }

    &-tips {
        padding-top: 5px;
        transition: 0.2s ease-in-out opacity;
        @include text-headline;
    }

    &--opacity &-tips {
        opacity: 0;
    }
}

.loader-info {
    color: var(--color-white);
}