// Fonts
:root {
    --Gotham-Light: 'GothamLight', sans-serif;
    --Gotham-Book: 'Gotham Book', sans-serif;
    --Gotham-Medium: 'Gotham Medium', sans-serif;
    --Gotham-Black: 'GothamBlack', sans-serif;
    --font-primary: var(--Gotham-Medium);
    --font-light: var(--Gotham-Book);
  }